.Report-container{
    background-color: #FFF3E9;
    width: 67rem;
    margin: 1rem;
    filter: drop-shadow(0 0 10px black);

}

.MyPlan-text{
    font-size: 3rem;
    font-weight: bold;
    color: orange;
    text-shadow: 1px 1px 1px black;
    margin-right: 17em;
}

.Day-List{
    margin: 1rem;
    /* margin-right: 60em; */

    
}

.Day-List li{
    list-style-type: none;
    /* margin: 1rem; */
    margin-top: 1rem;
    font-size: 1.5rem;
    background-color: white;
    width: 60rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.Day-List li:hover{
    background-color: rgb(180, 180, 180);
}

/* Plans.css */
.Report-container {
    background-color: #FFF3E9;
    width: 67rem;
    margin: 1rem;
    filter: drop-shadow(0 0 10px black);
    padding: 1rem; /* Added padding */
}

.MyPlan-text {
    font-size: 3rem;
    font-weight: bold;
    color: orange;
    text-shadow: 1px 1px 1px black;
    margin-right: 17em;
}

.Day-List {
    margin: 1rem;
}

.Day-List li {
    list-style-type: none;
    margin-top: 1rem;
    font-size: 1.5rem;
    background-color: white;
    width: 60rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.Day-List li:hover {
    background-color: rgb(180, 180, 180);
}

.Exercise-Details {
    position: absolute;
    background-color: rgba(255, 255,255, .5);
    padding: 1.5rem;
    border-radius: .5rem;
    filter: drop-shadow(0 0 5px black);
    top: 5rem;
    right:27rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.Exercise-Details h3 {
    font-size: 2rem;
    color: orange;
    text-shadow: 1px 1px 1px black;
}


.Exercise-Details p {
    font-size: 1.5rem;
    color: black;
}
.Exercise-Details span{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
.List-Exercise{
    list-style-type: none;
    font-size: 1.5rem;
    margin-top: 1rem;
    background-color: rgb(247, 212, 146);
    padding: 1rem 3rem;
    border-radius: 1rem;

}