.Report-container{
    background-color: #FFF3E9;
    width: 67rem;
    margin: 1rem;
    filter: drop-shadow(0 0 10px black);

}

.MyPlan-text{
    font-size: 3rem;
    font-weight: bold;
    color: orange;
    text-shadow: 1px 1px 1px black;
    margin-right: 17em;
}

.Day-List{
    margin: 1rem;
    /* margin-right: 60em; */

    
}

.Day-List li{
    list-style-type: none;
    /* margin: 1rem; */
    margin-top: 1rem;
    font-size: 1.5rem;
    background-color: white;
    width: 60rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

/* .Day-List li:hover{
    background-color: rgb(180, 180, 180);
} */

/* Plans.css */
.Report-container {
    background-color: #FFF3E9;
    width: 67rem;
    margin: 1rem;
    filter: drop-shadow(0 0 10px black);
    padding: 1rem; /* Added padding */
}

.MyPlan-text {
    font-size: 3rem;
    font-weight: bold;
    color: orange;
    text-shadow: 1px 1px 1px black;
    margin-right: 17em;
}

.Day-List {
    margin: 1rem;

}

.Day-List li{
    list-style-type: none;
    margin-top: 1rem;
    font-size: 1.5rem;
    background-color: white;
    width: 60rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;

    
}

/* .Day-List li:hover {
    background-color: rgb(180, 180, 180);
} */

.Exercise-Details {
    /* filter: drop-shadow(0 0 5px black); */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: .6s;
}

.Exercise-Details {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: height 0.5s ease-out, opacity 0.5s ease-out;
  }
  
  .Exercise-Details.open {
    height: auto;
    opacity: 1;
    transition: height 0.5s ease-in, opacity 0.5s ease-in;
  }
  
  .Close-Icon {
    cursor: pointer;
    font-size: 1.5rem;
    color: gray;
  }
  
  .Close-Icon:hover {
    color: black;
  }
  




.Exercise-Details p {
    font-size: 1.5rem;
    color: black;

}
.List-Exercise {
    list-style-type: none;
    font-size: 1.5rem;
    margin-top: 1rem;
    background-color: rgb(247, 212, 146);
    padding: 1rem;
    border-radius: 1rem;
    text-align: left;
    width: calc(100% - 2rem); /* Adjusting width to fill the container */
    max-width: 58rem; /* Constraining max width for better layout */
}
