.Nav-Setting-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    /* margin: .5rem; */
    background-color: #FFF3E9;
    padding: 1rem;
    border-radius: 5rem;
    box-shadow: 0 0 10px black;
    top: 0;
    
}
.Nav-Setting-container > li{
    list-style-type: none;
    margin: 1.4rem 0;
}

.Avatar{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.icons{
    width: 2rem;
    height: 2rem;
    /* color: orange; */
}